{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                {% if form.errors %}
                    <p>帳號或密碼輸入錯誤，請重試。</p>
                {% endif %}            
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>您的帳戶無權訪問此頁面。 要繼續，請使用具有訪問權限的帳戶登錄。</p>
                    {% else %}
                        <p>請登錄以查看此頁面。</p>
                    {% endif %}
                {% endif %}            
                <form method="post" action="{{ url('login') }}">
                    {{ csrf_input }}
                    <table>
                        <tr>
                            <td>帳號</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>密碼</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td><a href="{{ url('password_reset') }}">忘記/重設密碼?</a></td>
                            <td align="right"><a href="{{ url('register') }}">註冊</td>
                        </tr>
                    </table>
                    <input type="submit" value="登入" />
                    <input type="hidden" name="next" value="{{ next }}" />        
                </form>
            </div>
        </div>
    </div> 
    {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}