{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <form action="" method="POST">
                    {{ csrf_input }}
                        <p>Welcome, {{ user.username }}</p>
                        <p>若是沒有收到郵件，請再次輸入郵件地址並再次發送。</p>
                        {% for field in mailForm %}
                            <p>{{ field.label }} {{ field }}</p>
                        {% endfor %}
                    <input type="submit" class="" value="重寄Email" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}