{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                {% if validlink %}
                    <p>請重新輸入新密碼</p>
                    <form action="" method="post">
                    {{ csrf_input }}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">新密碼:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">確認密碼:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input id="submit_form" type="submit" value="修改密碼" /></td>
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <h1>連結無效</h1>
                    <p>密碼重置連結無效，可能是因為該連結已被使用或是期限已過。 請要求重新設置密碼。</p>
                {% endif %}
            </div>
        </div>
    </div> 
{% endblock %}

<script>
    $('form').submit(function () {
        $('#submit_form').val('處理中 ...')
            .attr('disabled','disabled');
            return;
    });
</script>
