{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
              <form action="" method="post">
              {{ csrf_input }}
              {% if form.email.errors %}
                {{ form.email.errors }}
              {% endif %}
                  <p>輸入E-mail：{{ form.email }}</p>
                <input type="submit" class="" value="重設密碼"/>
              </form>
            </div>
        </div>
    </div>
{% endblock %}