{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3><Strong>Register</Strong></h3>
                <form action="" method="POST">
                {{ csrf_input }}
                    {% for fields in form %}
                        <p>{{fields.label}} {{fields}}</p>
                    {% endfor %}
                    <input type="submit" value="register"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock  %}