{% extends "base.html" %}
{% block extra_head %}

{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Profile
                &nbsp;&nbsp;<a href="{{ url('profile-update', args=[user.id]) }}"><i class="fas fa-edit"></i></a>
                <span style="float:right;"><a href="{{ url('history:user-history-list') }}"><i class="fas fa-history"></i></a></span>
                </h3>
                <table class="table table-hover">                    
                    <tr>
                        <td><strong>User name: </strong><td><td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>First Name:</strong> <td><td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Name:</strong> <td><td>{{ user.last_name }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Gender:</strong><td><td>{{ user.userprofile.gender }}</td>
                    </tr>
                    <tr>
                        <td><strong>E-mail:</strong><td><td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number:</strong><td><td>{{ user.userprofile.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Address:</strong><td><td>{{ user.userprofile.address }}</td>
                    </tr>
                    <tr>
                        <td><strong>Organization:</strong><td><td>{{ user.profile.organization }}</td>
                    </tr>      
                    <tr>
                        <td><strong>Title:</strong><td><td>{{ user.profile.title.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Joined:</strong><td><td>{{ user.date_joined }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Login:</strong><td><td>{{ user.last_login }}</td>
                    </tr>                    
                </table>
                {% else %}
                    <p>Please <a href = "{{ url('login') }}">login</a> first!</p>
                {% endif %}                
            </div>
        </div>
    </div>
{% endblock %}

