{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">新增客戶{% if perms.customer.add_customer %}(<a href="{{ url('customer:add_customers') }}">新增多筆客戶</a>){% endif %}</h3>
            <ul class="fa-ul" style="margin-left: 0;">
                <li><i class="fas fa-info-circle"> 系統會依據【姓】、【名】、【手機電話】、【市內電話】來判斷客戶是否為同一人</i></li>
                <li><i class="fas fa-info-circle"> 建議先確認目標【機構】、【職業】、【職稱】有在選單後，再開始填寫資料</i></li>
                <li><i class="fas fa-info-circle"> 【手機電話】與【市內電話】至少要填一個</i></li>
                <li><i class="fas fa-info-circle"> 【手機電話】只接受國內手機格式: [09][開放電話號碼]，如: 0912345678，10位數</i></li>
                <li><i class="fas fa-info-circle"> 【市內電話】國內電話只接受此格式: [國內電話區號][開放電話號碼]，如: 0212345678，9、10位數</i></li>
                <li><i class="fas fa-info-circle"> 【市內電話】國外電話只接受此格式: [國際電話區號]-[國內電話區號][開放電話號碼]，如: 1-1231231234</i></li>
            </ul>
            <form method="POST" action="{{ url('customer:add_customer') }}" enctype="multipart/form-data">{{ csrf_input }}
                {% if messages %}
                <ul class="fa-ul" style="margin-left: 0;">
                    {% for message in messages %}
                    <li><i {% if message.tags != 'info' %}class="fas fa-times" style="color: red;"{% else %}class="fas fa-check-circle" style="color: green;"{% endif %}> {{ message }}</i></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        {% for field in form %}
                        <tr>
                            <th>{% if field.field.required %}* {% endif %}{{ field.label }}
                                {% if field.name == 'organization' %}
                                    {% if perms.customer.add_organization %}(<a href="{{ url('customer:add_organization') }}" target="popup" onclick="window.open('{{ url('customer:add_organization') }}', 'popup', 'width=700', height='800'); return false">新增機構</a>)
                                    <button type="button" class="btn btn-link" onclick="RefreshOptions('organization')"><i class="fas fa-redo"></i></button>
                                    {% endif %}
                                {% endif %}
                                {% if field.name == 'job' %}
                                    {% if perms.customer.add_job %}(<a href="{{ url('customer:add_job') }}" target="popup" onclick="window.open('{{ url('customer:add_job') }}', 'popup', 'width=700', height='800'); return false">新增職業</a>)
                                    <button type="button" class="btn btn-link" onclick="RefreshOptions('job')"><i class="fas fa-redo"></i></button>
                                    {% endif %}
                                {% endif %}
                                {% if field.name == 'title' %}
                                    {% if perms.customer.add_title %}(<a href="{{ url('customer:add_title') }}" target="popup" onclick="window.open('{{ url('customer:add_title') }}', 'popup', 'width=700', height='800'); return false">新增職稱</a>)
                                    <button type="button" class="btn btn-link" onclick="RefreshOptions('title')"><i class="fas fa-redo"></i></button>
                                    {% endif %}
                                {% endif %}

                            </th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear();
    if(day<10){
        day="0"+day;
    }
    if(month<10){
        month="0"+month;
    }
    today=year+"-"+month+"-"+day;
    document.getElementById("birth_date").setAttribute("max", today);

    $('form').submit(function () {
        if (!$('#tel').val() && !$('#mobile').val()) {
            alert("手機電話或市內電話只少要填一個");
            return false;
        } else if (($('#introducer').val() && !$('#relationship').val()) || (!$('#introducer').val() && $('#relationship').val())) {
            alert("推薦人與關係必須兩個都填或都不填");
            return false;
        } else {
            $('#submit_form').val('處理中 ...')
            .attr('disabled','disabled');
            return;
        }
    });
    $('input[type="text"]').change(function() {
        this.value = $.trim(this.value);
    });
    function RefreshOptions(ObjID) {
        var selectRef = document.getElementById(ObjID);
        $.ajax({
            type: 'GET',
            url: '/customer/update_options/' + ObjID,
            success: function(data) {
                $('#'+ObjID+' option').remove();
                if (!selectRef.multiple) {
                    var newOption = new Option('---------', '');
                    selectRef.append(newOption);
                }
                for (object of data.objects) {
                    var newOption = new Option(object[1], object[0]);
                    selectRef.append(newOption);
                }
                $('#'+ObjID).multipleSelect('refresh');
            }
        });
    }
</script>
{% endblock js %}
