{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">編輯客戶</h3>
            <form method="POST" action="{{ url('customer:change_customer', args=[customer.id]) }}" enctype="multipart/form-data">{{ csrf_input }}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="col">* 姓</th>
                                <td>
                                    <input class="form-control" type="text" name="last_name" maxlength="32" value="{{ customer.last_name }}" required>
                                </td>
                        </tr>
                        <tr>
                            <th scope="col">* 名</th>
                            <td>
                                <input class="form-control" type="text" name="first_name" maxlength="32" value="{{ customer.first_name }}" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* 生日</th>
                            <td>
                                <input class="form-control" type="date" id="birth_date" name="birth_date" min="1820-01-01" max="2020-01-01" value="{{ customer.birth_date }}" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">機構{% if perms.customer.can_add_organization %}(<a href="{{ url('customer:add_organization') }}" target="popup" onclick="window.open('{{ url('customer:add_organization') }}','popup','width=600, height=600'); return false;">新增機構</a>){% endif %}</th>
                            <td>
                                <select multiple="multiple" class="multiple-select" id="organization" name="organization">
                                    {% for organization in organizations %}
                                    <option value="{{ organization.id }}" {% if organization.id in organization_ids %} selected {% endif %}>{{ organization.name }} {{ organization.department }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* 職業{% if perms.customer.can_add_job %}(<a href="{{ url('customer:add_job') }}" target="popup" onclick="window.open('{{ url('customer:add_job') }}','popup','width=600, height=600'); return false;">新增職業</a>){% endif %}</th>
                            <td>
                                <select class="multiple-select" id="job" name="job" required>
                                    {% for job in jobs %}
                                    <option value="{{ job.id }}" {% if job.id == customer.job.id %} selected {% endif %}>{{ job.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* 職稱{% if perms.customer.can_add_title %}(<a href="{{ url('customer:add_title') }}" target="popup" onclick="window.open('{{ url('customer:add_title') }}','popup','width=600, height=600'); return false;">新增職稱</a>){% endif %}</th>
                            <td>
                                <select class="multiple-select" id="title" name="title" required>
                                    {% for title in titles %}
                                    <option value="{{ title.id }}" {% if title.id == customer.title.id %} selected {% endif %}>{{ title.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* Email</th>
                            <td>
                                <input class="form-control" type="email" id="email" name="email" maxlength="320" value="{{ customer.email }}" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* 手機電話</th>
                            <td>
                                <input class="form-control" type="text" id="mobile" name="mobile" maxlength="32" value="{{ customer.mobile }}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">* 市內電話</th>
                            <td>
                                <input class="form-control" type="text" id="tel" name="tel" maxlength="32" value="{{ customer.tel }}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">通訊地址</th>
                            <td>
                                <input class="form-control" type="text" id="address" name="address" maxlength="320" value="{{ customer.address }}" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">備註</th>
                            <td>
                                <input class="form-control" type="text" id="memo" name="memo" value="{{ customer.memo }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear();
    if(day<10){
        day="0"+day;
    }
    if(month<10){
        month="0"+month;
    }
    today=year+"-"+month+"-"+day;
    document.getElementById("birth_date").setAttribute("max", today);

    $('form').submit(function () {
        if (!$('#tel').val() && !$('#mobile').val()) {
            alert("手機電話或市內電話只少要填一個");
            return false;
        } else {
            return;
        }
    });
    $('input[type="text"]').change(function() {
        this.value = $.trim(this.value);
    });
</script>
{% endblock js %}
