{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">客戶名單(<a href="{{ url('customer:add_customer') }}" target="popup" onclick="window.open('{{ url('customer:add_customer') }}','popup','width=600, height=600'); return false;">新增客戶</a>)</h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table id="customer_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>姓名</th>
                        <th>機構</th>
                        <th>職稱</th>
                        <th>E-mail</th>
                        <th>電話</th>
                        <th>地址</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td><a href="{{ url('customer:change_customer', args=[customer.id]) }}"><i class="fas fa-edit"></i></a></td>
                        <td>{{ customer.last_name }} {{ customer.first_name }}</td>
                        <td>{{ customer.organization }}</td>
                        <td>{{ customer.title }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.memo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>

{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function () {
		$('#customer_table thead tr').clone(true).appendTo('#customer_table thead');
		$('#customer_table thead tr:eq(1) th').each(function (i) {
            if (i!==0){
			    var title = $(this).text();
			    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

			    $('input', this).on('keyup change', function () {
				    if (customer_table.column(i).search() !== this.value) {
					    customer_table
						    .column(i)
						    .search(this.value)
						    .draw();
				    }
                });
            }
		});

		var customer_table = $('#customer_table').DataTable({
			dom: 'frtip',
			scrollX: true,
			orderCellsTop: true,
		});
	});


</script>

{% endblock js %}