{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">{{ customer }}&nbsp;<a href="{{ url('customer:change_customer', args=[customer.id]) }}"><i class="fas fa-edit"></i></a></h3>
            {% if messages %}
            <ul class="fa-ul" style="margin-left: 0;">
                {% for message in messages %}
                <li><i {% if message.tags != 'info' %}class="fas fa-times" style="color: red;"{% else %}class="fas fa-check-circle" style="color: green;"{% endif %}> {{ message }}</i></li>
                {% endfor %}
            </ul>
            {% endif %}
                <table class="table table-hover">
                    <tbody>
                        {% for field_name in field_names %}
                        <tr>
                            {% if field_name == 'organization' %}
                            <th>機構</th>
                            <td>{{ customer|attr(field_name) }}</td>
                            {% elif field_name == 'introducer' %}
                            <th>推薦人</th>
                            <td>{% if customer.customer_introducer %}{{ customer.customer_introducer.introducer }}{% endif %}</td>
                            {% elif field_name == 'relationship' %}
                            <th>關係</th>
                            <td>{% if customer.customer_introducer %}{{ customer.customer_introducer.relationship }}{% endif %}</td>
                            {% else %}
                            <th>{{ field_tags[field_name] }}</th>
                            <td>{{ customer|attr(field_name) }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if perms.contract.view_box %}
                <h3 class="custom_text">採樣盒</h3>
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>採樣盒流水號</th>
                            <th>訂單</th>
                            <th>宅配單號</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for box in boxes %}
                        <tr>
                            <td>{% if perms.contract.change_box %}<a href="{{ url('contract:box_edit', args=[box.id]) }}"><i class="fas fa-edit"></i></a>{% endif %}</td>
                            <td><a href="{{ box.get_absolute_url() }}">{{ box }}</a></td>
                            <td>{{ box.order }}</td>
                            <td>{{ box.tracing_number }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
        $(document).ready(function () {
                $('#table thead tr').clone(true).appendTo('#table thead');
                $('#table thead tr:eq(1) th').each(function (i) {
            if (i!==0){
                            var title = $(this).text();
                            $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                            $('input', this).on('keyup change', function () {
                                    if (table.column(i).search() !== this.value) {
                                            table
                                                    .column(i)
                                                    .search(this.value)
                                                    .draw();
                                    }
                });
            }
                });

                var table = $('#table').DataTable({
                        dom: 'frtip',
                        scrollX: true,
                        orderCellsTop: true,
                });
        });
</script>
{% endblock js %}

