{% extends "base_generic.html" %}

{% block content %}
    <h3>Account Info</h3>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>E-mail: {{ user.email }}</li>
        </ul>

    <h3>Update My Profile</h3>
        <form action="" method="POST">
        {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
            <input type="submit" value="Update"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

{% endblock %}