{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">新增方案<a class="btn btn-info" type="button" href="{{ url('product:view_plan') }}" style="float: right;background-color: #FF3B3B; border-color: #FF3B3B;">返回資料列表</a></h3>
            <ul class="fa-ul" style="margin-left: 0;">
                <li><i class="fas fa-info-circle"> 同個【產品】不可有相同的【方案名稱】</i></li>
            </ul>
            <form method="POST" action="{{ url('product:add_plan') }}" enctype="multipart/form-data">{{ csrf_input }}
                {% if messages %}
                <ul class="fa-ul" style="margin-left: 0;">
                    {% for message in messages %}
                    <li><i {% if message.tags != 'info' %}class="fas fa-times" style="color: red;"{% else %}class="fas fa-check-circle" style="color: green;"{% endif %}> {{ message }}</i></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        {% for field in form %}
                        <tr>
                            <th>{% if field.field.required %}* {% endif %}{{ field.label }}{% if field.name == 'product' %}{% if perms.product.add_product %}(<a href="{{ url('product:add_product') }}">新增產品</a>){% endif %}{% endif %}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
    });
    $('input[type="text"]').change(function() {
        this.value = $.trim(this.value);
    });
    $('form').submit(function(){
        $('#submit_form').val('處理中 ...')
        .attr('disabled','disabled');
    });
</script>
{% endblock js %}