{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">編輯產品</h3>
            <form method="POST" action="{{ url('product:change_product', args=[product.id]) }}" enctype="multipart/form-data">{{ csrf_input }}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="col">* 產品名稱</th>
                            <td>
                                <input class="form-control" type="text" name="name" maxlength="256" value="{{ product.name }}" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">產品前綴</th>
                            <td>
                                <input class="form-control" type="text" name="prefix" maxlength="16" value="{{ product.prefix }}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">產品大表</th>
                            <td>
                                <select class="multiple-select" id="project_content" name="project_content">
                                    <option value="" {% if content_id == '' %} selected {% endif %}>無</option>
                                    {% for content in project_contents %}
                                    <option value="{{ content.id }}" {% if content.id == content_id %} selected {% endif %}>{{ content.model }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">狀態</th>
                            <td>
                                <select class="multiple-select" id="status" name="status">
                                    <option value="1" {% if product.status %} selected {% endif %}>Available</option>
                                    <option value="0" {% if not product.status %} selected {% endif %}>Unavilable</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
    });
</script>
{% endblock js %}
