{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">新增機構</h3>
            <form method="POST" action="{{ url('contract:add_organization') }}" enctype="multipart/form-data">{{ csrf_input }}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="col">* 機構名稱(必填)</th>
                                <td>
                                    <input class="form-control" type="text" name="name" maxlength="256" required>
                                </td>
                        </tr>
                        <tr>
                            <th scope="col">部門/單位</th>
                            <td>
                                <input class="form-control" type="text" name="department" maxlength="256">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
            </form>
        </div>
    </div>
</div>

{% endblock content %}