{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3>編輯 Box: {{ box }}</h3>
                <form action="" method="POST">
                {{ csrf_input }}
                {% if messages %}
                    <ul class="fa-ul" style="margin-left: 0;">
                        {% for message in messages %}
                        <li><i {% if message.tags != 'info' %}class="fas fa-times" style="color: red;"{% else %}class="fas fa-check-circle" style="color: green;"{% endif %}> {{ message }}</i></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <table class="table table-hover">
                        {% for fields in form %}                            
                                <tr>
                                {% if fields.label == '失敗原因' %}
                                    {% if failed_exist %}
                                        <th>{{ fields.label }}</th>
                                        <td>{{ fields }}</td>
                                    {% else %}
                                        <th>Add into Failed Box</th>
                                        <td><a href="{{ url('contract:add_specify_failed', args=[box.id]) }}" target="popup" onclick="window.open('{{ url('contract:add_specify_failed', args=[box.id]) }}', 'popup', 'width=800', height='600'); return false"><i class="fas fa-plus"></i></a></td>
                                    {% endif %}
                                {% elif fields.label == '受測者' %}
                                    {% if examiner_exist %}
                                        <th>{{ fields.label }}</th>
                                        <td>{{ fields }}</td>
                                    {% else %}
                                        <th>{{ fields.label }}</th>
                                        <td><a href="{{ url('contract:add_specify_examiner', args=[box.id]) }}" target="popup" onclick="window.open('{{ url('contract:add_specify_examiner', args=[box.id]) }}', 'popup', 'width=800', height='600'); return false"><i class="fas fa-plus"></i></a></td>
                                    {% endif %}
                                {% elif fields.label == '銷毀註記' %}
                                    {% if destroyed_exist %}
                                        <th>{{ fields.label }}</th>
                                        <td>{{ fields }}&nbsp;&nbsp;&nbsp;{{ fields.help_text }}</td>
                                    {% else %}
                                        <th>{{ fields.label }}</th>
                                        <td><a href="{{ url('contract:add_specify_destroyed', args=[box.id]) }}" target="popup" onclick="window.open('{{ url('contract:add_specify_destroyed', args=[box.id]) }}', 'popup', 'width=800', height='600'); return false"><i class="fas fa-plus"></i></a></td>                                        
                                    {% endif %}
                                {% elif fields.label == '銷毀日期' %}
                                    {% if destroyed_exist %}
                                        <th>{{ fields.label }}</th>
                                        <td>{{ fields }}</td>
                                    {% endif %}
                                {% elif fields.label == 'DNA取回日期' %}
                                    {% if destroyed_exist %}
                                        <th>{{ fields.label }}</th>
                                        <td>{{ fields }}</td>
                                    {% endif %}
                                {% else %}
                                    <th>{{ fields.label }}</th>
                                    <td>{{ fields }}</td>
                                {% endif %}
                                </tr>
                        {% endfor %}
                        {% if proj %}
                        <tr>
                            <th>大表</th>
                            <td>{% if project %}<a href="{{ url('project:change_data', args=[proj.content_type.model, project.id]) }}" target="popup" onclick="window.open('{{ url('project:change_data', args=[proj.content_type.model, project.id]) }}', 'popup', 'width=800', height='600'); return false"><i class="fas fa-edit"></i></a>{% else %}<a href="{{ url('project:view_specific_data', args=[proj.content_type.model, box.serial_number]) }}" target="popup" onclick="window.open('{{ url('project:view_specific_data', args=[proj.content_type.model, box.serial_number]) }}', 'popup', 'width=800', height='600'); return false"><i class="fas fa-plus"></i></a>{% endif %}</td>
                        </tr>
                        {% endif %}
                    </table>
                    <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear();
    if(day<10){
        day="0"+day;
    }
    if(month<10){
        month="0"+month;
    }
    today=year+"-"+month+"-"+day;
</script>
<script>
    $('form').submit(function () {
        $('#submit_form').val('處理中 ...')
            .attr('disabled','disabled');
            return;
    });
</script>
{% endblock js %}