{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3>編輯 {{ contract }}</h3>
                <form action="" method="POST">
                {{ csrf_input }}
                    <table class="table table-hover">
                        {% for fields in form %}
                            {% if fields.label == '機構/單位' %}
                            <tr>
                                <th>{{ fields.label }}
                                {% if perms.customer.can_add_organization %}
                                (<a href="{{ url('contract:add_organization') }}">新增</a>)
                                {% endif %}
                                </th>
                                <td>{{ fields }}</td>
                            </tr>
                            <tr>
                                <th>訂單</th>
                                <td>
                                {% for order in orders %}                                
                                    <a href="{{ order.get_absolute_url() }}" target="popup" onclick="window.open('{{ order.get_absolute_url() }}', 'popup', 'width=700', height='800'); return false">{{ order }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                                {% if perms.contract.can_add_order %}
                                <a href="{{ url('contract:add_specify_order', args=[contract.id]) }}" target="popup" onclick="window.open('{{ url('contract:add_specify_order', args=[contract.id]) }}', 'popup', 'width=700', height='800'); return false"><i class="fas fa-plus"></i></a>
                                {% endif %}
                                </td>
                            </tr>                            
                            <tr>
                                <th>發票</th>
                                <td>
                                {% for receipt in receipts %}
                                    <a href="{{ receipt.get_absolute_url() }}" target="popup" onclick="window.open('{{ receipt.get_absolute_url() }}', 'popup', 'width=700', height='800'); return false">{{ receipt }}</a>
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                                {% if perms.contract.can_add_receipt %}
                                <a href="{{ url('contract:add_specify_receipt', args=[contract.id]) }}" target="popup" onclick="window.open('{{ url('contract:add_specify_receipt', args=[contract.id]) }}', 'popup', 'width=700', height='800'); return false"><i class="fas fa-plus"></i></a>
                                {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <th>{{ fields.label }}</th>
                                <td>{{ fields }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}                        
                    </table>
                    <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear();
    if(day<10){
        day="0"+day;
    }
    if(month<10){
        month="0"+month;
    }
    today=year+"-"+month+"-"+day;
</script>
{% endblock %}