{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3>修改失敗原因: {{ failed.box }}</h3>
                <form action="" method="POST">
                {{ csrf_input }}
                    <table class="table table-hover">
                        {% for fields in form %}
                            <tr>
                                <th>{{ fields.label }}</th>
                                <td>{{ fields }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    $('form').submit(function () {
        $('#submit_form').val('處理中 ...')
            .attr('disabled','disabled');
            return;
    });
</script>
{% endblock %}