{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">            
            {% if object_list %}
                <h3>失敗原因清單(
                {% if perms.contract.can_add_failed_reason %}
                    <a href="{{ url('contract:failed_reason_create') }}">新增</a>
                {% endif %}
                )</h3>
                <table id="failed_reason_table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>                            
                            <th>失敗原因</th>
                            <th>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for failed_reason in object_list %}
                        <tr>
                            <td>
                            {% if perms.contract.can_change_failed_reason %}
                                <a href="{{ url('contract:failed_reason_edit', args=[failed_reason.id]) }}"><i class="fas fa-edit"></i></a>
                            {% endif %}                            
                            </td>
                            <td>
                            {% if perms.contract.can_delete_failed_reason %}
                                <a href="{{ url('contract:failed_reason_delete', args=[failed_reason.id]) }}"><i class="fas fa-trash"></i></a>
                            {% endif %}                            
                            </td>                            
                            <td>{{ failed_reason }}</td>
                            <td>{{ failed_reason.memo }}</td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No Data!</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function () {
		$('#failed_reason_table thead tr').clone(true).appendTo('#failed_reason_table thead');
		$('#failed_reason_table thead tr:eq(1) th').each(function (i) {
            if (i!==0 && i!==1){
			    var title = $(this).text();
			    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

			    $('input', this).on('keyup change', function () {
				    if (failed_reason_table.column(i).search() !== this.value) {
					    failed_reason_table
						    .column(i)
						    .search(this.value)
						    .draw();
				    }
                });
            }
		});

		var failed_reason_table = $('#failed_reason_table').DataTable({
			dom: 'frtip',
			scrollX: true,
			orderCellsTop: true,
		});
	});


</script>

{% endblock js %}