{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3>新增訂單</h3>
                <form action="" method="POST">
                {{ csrf_input }}
                    <table id = "tab" class="table table-hover">
                        {% if specify_contract %}
                            <tr>
                                <th>合約</th>
                                <td colspan="2">{{ contract }}</td>
                            </tr>
                        {% endif %}
                        {% for fields in form %}
                            {% if fields.label == '方案' %}
                                <tr>
                                    <th>{{ fields.label }}</th>
                                    <td colspan="2">{{ fields }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>{{ fields.label }}</th>
                                    <td colspan="2">{{ fields }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
                    {% if specify_contract %}
                        <input id="" style="background-color: #FF3B3B; border-color: #FF3B3B;" class="btn btn-primary btn-lg btn-block" type="submit" value="關閉" onclick="window.close()">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $('select').multipleSelect({
      filter: true,
      selectAll: false,
      showClear: true
    });
</script>
<script>
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear();
    if(day<10){
        day="0"+day;
    }
    if(month<10){
        month="0"+month;
    }
    today=year+"-"+month+"-"+day;
</script>
 <script type="text/javascript">
    function addtr(){
        var opts = [], opt;
        var str = '';
        var count = 0;
        var tradd = []
        //var len = sel.options.length;
        var objS = document.getElementById("id_plan");
        var len = objS.options.length;
        var num = document.getElementById("tab").rows.length;
        for (var i = 0; i < num-4; i++){
            document.getElementById("tab").deleteRow(3);
        }
        for (var i = 0; i < len; i++ ){
            tradd[i] = tab.insertRow(3);
        }
        for (var i = 0; i < len; i++ ){
            opt = objS.options[i].text;
            if ( objS.options[i].selected ){
                var content = '<th>'+opt+'</th>'+'<td><strong>數量</strong></td><td><input type="number" name="'+opt+'_quantity" class="form-control" min="1" max="100" required id="id_quantity"></td>';
                tradd[i].innerHTML=content;
            }
        }
    }
</script>
{% endblock js %}