{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3>{{ order }}
            {% if perms.contract.change_order %}&nbsp;&nbsp;<a href="{{ url('contract:order_edit', args=[order.id]) }}"><i class="fas fa-edit"></i></a>{% endif %}
            {% if perms.contract.delete_order %}&nbsp;&nbsp;<a href="{{ url('contract:order_delete', args=[order.id]) }}"><i class="fas fa-trash"></i></a>{% endif %}
            </h3>
            <table class="table table-hover">
                <tr>
                    <th scope="row"><strong>合約: </strong></th>
                    <td colspan="2">{{ order.contract }}</td>
                </tr>
                <tr>
                    <th scope="row"><strong>訂單日期: </strong></th>
                    <td colspan="2">{{ order.order_date }}</td>
                </tr>
                <tr>
                    <th scope="row"><strong>方案: </strong></th>
                    <td colspan="2">
                        <table>
                            <th>方案</th>
                            <th>數量</th>
                        {% for plan in order.plan.all() %}
                            <tr>
                                <td><a href="">{{ plan }}</a></td>
                                <td>{{ box.filter(plan=plan).values_list('serial_number').distinct().count() }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><strong>採樣盒: </strong></th>
                    <td>
                        {% for box in box.all().order_by('serial_number') %}
                            <a href="{{ box.get_absolute_url() }}">{{ box }}</a>
                            {% if not loop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url('contract:partial-box-list', args=[order.id]) }}"><i class="fas fa-list"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><strong>紀錄: </strong></th>
                    <td>
                        {% for box in experiment %}
                            <a href="{{ url('experiment:view_specific_experiment', args=[box.id]) }}">{{ box.serial_number }}</a>
                            {% if not loop.last %};{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url('experiment:view_experiment_list', args=[order.id]) }}"><i class="fas fa-list"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><strong>備註: </strong></th>
                    <td colspan="2"><pre style="font-size: 16px">{{ order.memo }}</pre></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}