{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3>發票號碼: {{ receipt }}
            {% if perms.contract.change_receipt %}
            &nbsp;&nbsp;<a href="{{ url('contract:receipt_edit', args=[receipt.id]) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
            {% if perms.contract.delete_receipt %}
            &nbsp;<a href="{{ url('contract:receipt_delete', args=[receipt.id]) }}"><i class="fas fa-trash"></i></a>
            {% endif %}
            </h3>
            <table class="table table-hover">
                <tr>
                    <th>合約:</th>
                    <td>Contract {{ receipt.contract.pk }}</td>
                </tr>
                <tr>
                    <th>開立發票日期:</th>
                    <td>{{ receipt.receipt_date }}</td>
                </tr>
                <tr>
                    <th>發票金額:</th>
                    <td>{{ receipt.receipt_amount }}</td>
                </tr>
                <tr>
                    <th>入賬日期:</th>
                    <td>{{ receipt.payment_date }}</td>
                </tr>
                <tr>
                    <th>單位:</th>
                    <td>{{ receipt.receipt_org }}</td>
                </tr>
                <tr>
                    <th>付款方式:</th>
                    <td>{{ receipt.payment_method }}</td>
                </tr>
                <tr>
                    <th>發票內容:</th>
                    <td><pre style="font-size: 16px">{{ receipt.receipt_content }}</pre></td>
                </tr>
                <tr>
                    <th>備註:</th>
                    <td><pre style="font-size: 16px">{{receipt.memo}}</pre></td>
                </tr>
                <tr>
                    <th>圖片:</th>
                    {% if tag %}
                        <td>
                            <div>
                                <img id="img" style="width:250px;display:block" src="{{ upload_image.url }}" class="pic"/>
                            </div>
                            <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                                <div id="innerdiv" style="position:absolute;">
                                    <img id="bigimg" style="border:5px solid #fff;" src="" />
                                </div>
                            </div>
                        </td>
                    {% else %}
                        <td><a href="{{ url('contract:upload_image', args=[receipt.id]) }}"><i class="fas fa-upload fa-2x"></i></a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
{% block js %}
<script type="text/javascript">
 $(function(){
    $(".pic").click(function(){
      var _this = $(this); // 將當前的pimg元素作為_this傳入函數
      imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
    });
  });
  function imgShow(outerdiv, innerdiv, bigimg, _this){
    var src = _this.attr("src");// 獲取當前點擊的pimg元素中的src屬性
    $(bigimg).attr("src", src);// 設置#bigimg元素的src屬性
      /*獲取當前點擊圖片的真實大小，並顯示彈出層及大圖*/
    $("<img/>").attr("src", src).load(function(){
      var windowW = $(window).width();//獲取當前窗口寬度
      var windowH = $(window).height();//獲取當前窗口高度
      var realWidth = this.width;//獲取圖片真實寬度
      var realHeight = this.height;//獲取圖片真實高度
      var imgWidth, imgHeight;
      var scale = 0.8;//縮放尺寸，當圖片真實寬度和高度大於窗口寬度和高度時進行縮放
      if(realHeight>windowH*scale) {//判斷圖片高度
        imgHeight = windowH*scale;//如大於窗口高度，圖片高度進行縮放
        imgWidth = imgHeight/realHeight*realWidth;//等比例縮放寬度
        if(imgWidth>windowW*scale) {//如寬度仍大於窗口寬度
          imgWidth = windowW*scale;//再對寬度進行縮放再对宽度进行缩放
        }
      } else if(realWidth>windowW*scale) {//如圖片高度合適，判斷圖片寬度
        imgWidth = windowW*scale;//如大於窗口寬度，圖片寬度進行縮放
              imgHeight = imgWidth/realWidth*realHeight;//等比例縮放高度
      } else {//如果圖片真實高度和寬度都符合要求，高寬不變
        imgWidth = realWidth;
        imgHeight = realHeight;
      }
          $(bigimg).css("width",imgWidth);//以最終的寬度對圖片縮放
      var w = (windowW-imgWidth)/2;//計算圖片與窗口左邊距
      var h = (windowH-imgHeight)/2;//計算圖片與窗口上邊距
      $(innerdiv).css({"top":h, "left":w});//設置#innerdiv的top和left屬性
      $(outerdiv).fadeIn("fast");//淡入顯示#outerdiv及.pimg
    });
    $(outerdiv).click(function(){//再次點擊淡出消失彈出層
      $(this).fadeOut("fast");
    });
  }
</script>
{% endblock js %}