{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
                <h3>發票清單
                {% if perms.contract.add_receipt %}
                    (<a href="{{ url('contract:receipt_create') }}" target="popup" onclick="window.open('{{ url('contract:receipt_create') }}', 'popup', 'width=800', height='600'); return false">新增</a>)
                {% endif %}
                </h3>
                <table id="receipt_table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>發票號碼</th>
                            <th>合約</th>
                            <th>開立發票日期</th>
                            <th>發票金額</th>
                            <th>入賬日期</th>
                            <th>單位</th>
                            <th>付款方式</th>
                            <th>發票內容</th>
                            <th>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in object_list %}
                        <tr>
                            <td>
                            {% if perms.contract.change_receipt %}
                                <a href="{{ url('contract:receipt_edit', args=[receipt.id]) }}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                            </td>
                            <td>
                            {% if perms.contract.delete_receipt %}
                                <a href="{{ url('contract:receipt_delete', args=[receipt.id]) }}"><i class="fas fa-trash"></i></a>
                            {% endif %}
                            </td>
                            <td><a href="{{ receipt.get_absolute_url() }}">{{ receipt}}</a></td>
                            <td>{{ receipt.contract }}</td>
                            <td>{{ receipt.receipt_date }}</td>
                            <td>{{ receipt.receipt_amount }}</td>
                            <td>{{ receipt.payment_date }}</td>
                            <td>{{ receipt.receipt_org }}</td>
                            <td>{{ receipt.payment_method }}</td>
                            <td>{{ receipt.receipt_content }}</td>
                            <td>{{ receipt.memo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4 class="custom_text">多筆查詢</h4>
                <select id="multiquery"></select>
                <textarea class="form-control" row="3" id="query"></textarea>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script>
	$(document).ready(function () {
		$('#receipt_table thead tr').clone(true).appendTo('#receipt_table thead');
		$('#receipt_table thead tr:eq(1) th').each(function (i) {
            var multiquery = document.getElementById('multiquery');
            if (i!==0 && i!==1){
			    var title = $(this).text();
			    $(this).html('<input size="10" type="text" placeholder="Search ' + title + '" />');

			    $('input', this).on('keyup change', function () {
				    if (receipt_table.column(i).search() !== this.value) {
					    receipt_table
						    .column(i)
						    .search(this.value)
						    .draw();
				    }
                });
                // add options to multiquery
                var option = new Option(title, i);
                multiquery.options.add(option);
            }
		});
		var receipt_table = $('#receipt_table').DataTable({
			dom: 'Bfrtip',
            buttons: [
				'copy', 'csv', 'excel'
			],
			scrollX: true,
			orderCellsTop: true,
            exportOptions: {
				rows: 'visible'
			},
		});
        $('#query, #multiquery').on('keyup change', function () {
            var querys = $('#query').val().split(/\t|,|\r\n|\n| |\|/).filter(v => !!v);
            var i = parseInt($('#multiquery :selected').val(), 10);
            receipt_table.column(i).search(querys.join('|'), true, false).draw();
        });
	});
</script>
{% endblock js %}