{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h1><i class="fas fa-meh-blank"></i>  Home page  <i class="fas fa-meh-blank"></i></h1>
                <p>There is nothing here right now.</p>
                <h3>This system is still building.</h3>
                <p>_(¦3」∠)_KEEP FIGHT_(:3 」∠ )_</p>
                <p>ﾚ(ﾟ∀ﾟ;)ﾍ　ﾍ( ﾟ∀ﾟ;)ﾉ</p>
            </div>
        </div>
    </div>
{% endblock %}