{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">{{ serial_number }}&nbsp;<a href="{{ url('project:change_data', args=[model, data['id']]) }}"><i class="fas fa-edit"></i></a></h3>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <table class="table table-hover">
                    <tbody>
                        {% for field_name in field_names %}
                        <tr>
                            {% if field_name == 'box' %}
                            <th>{{ field_tags[field_name] }}</th>
                            <td><a href="{{ data.box.get_absolute_url() }}">{{ serial_number }}</a></td>
                            {% else %}
                            <th>{{ field_tags[field_name] }}</th>
                            <td>{{ data.__dict__[field_name] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input id="submit_form" style="background-color: #19bdf2; border-color: #19bdf2;" class="btn btn-primary btn-lg btn-block" type="submit" value="送出">
        </div>
    </div>
</div>
{% endblock content %}

