{% extends 'base.html' %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<link rel="stylesheet" href="{{ static('css/datatable_custom.css') }}">
<br>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="custom_text">實驗記錄(<a href="{{ url('experiment:add_experiment') }}">新增紀錄</a>)</h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table id="experiment_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>

{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function () {
		$('#experiment_table thead tr').clone(true).appendTo('#experiment_table thead');
		$('#experiment_table thead tr:eq(1) th').each(function (i) {
            if (i!==0){
			    var title = $(this).text();
			    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

			    $('input', this).on('keyup change', function () {
				    if (experiment_table.column(i).search() !== this.value) {
					    experiment_table
						    .column(i)
						    .search(this.value)
						    .draw();
				    }
                });
            }
		});

		var experiment_table = $('#experiment_table').DataTable({
			dom: 'frtip',
			scrollX: true,
			orderCellsTop: true,

		});

        $('#experiment_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = experiment_table.row(tr);
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
            }
        });
	});

    function format (d) {
    // d is the original data object for the row
    // d[1] is serial_number

    var subtable = '<table class="display" style="width:100%">'+
        '<thead>'+
            '<tr>'+
                '<th></th>'+
                '<th>編號</th>'+
                '<th>單位</th>'+
                '<th>收到檢體日</th>'+
                '<th>完成日</th>'+
                '<th>資料移交日</th>'+
                '<th>移交單位</th>'+
            '</tr>'+
        '</thead>';
    var experiment_records = {{ experiment_records|safe }}
    for (experiment of experiment_records[d[1]]) {
        subtable += '<tr>'+
        '<td><a href="'+experiment['change_experiment']+'"><i class="fas fa-edit"></i></a></td>'+
        '<td>'+experiment['serial_number']+'</td>'+
        '<td>'+experiment['organization']+'</td>'+
        '<td>'+experiment['receiving_date']+'</td>'+
        '<td>'+experiment['complete_date']+'</td>'+
        '<td>'+experiment['data_transfer_date']+'</td>'+
        '<td>'+experiment['transfer_organization']+'</td>'+
        '</tr>';
    }
    subtable +=  '</table>';
    return subtable;
   }

</script>

{% endblock js %}